body {
  background-color: #18DB6E;

  div.container {

    div.row {

      div.iphone-green {
        background-position: center top;
        background-image: url("/images/iphone_snailsnapp2.png");
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 777px;
        width: 477px;
        position: relative;

        iframe {
          border: 0;
          position: absolute;
          top: 0;
          margin-left: 82px;
          margin-top: 103px;
          height: 500px;
          border: 0;
          //-moz-transform: scale(0.60, 0.60);
          //-webkit-transform: scale(0.60, 0.60);
          //-o-transform: scale(0.60, 0.60);
          //-ms-transform: scale(0.60, 0.60);
          //transform: scale(0.60, 0.60);
        }
      }
      h1.header {
          margin-top: 50px;
          text-align: center;
          color: white;
          font-family: Helvetica, Arial, sans-serif;
          font-weight: 200;
          font-size: 35px;
      }
      @media (min-width: 1000px) {
        h1.header {
         margin-top: 180px;
        }
      }

      h2.explanation {
        margin-top: 50px;
        margin-bottom: 50px;
        color: white;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 25px;
        text-align: center;
        line-height: 35px;
      }
    }
  }
}