# ignore Mac OS files
.DS_Store

# ignore Sublime Text config files
*.sublime-workspace
*.sublime-project
*sftp-config.json

# ignore all these file types
*.css
*.jpg
*.png
*.ico
*.pyc

app/0.1/build.log
app/0.1/.fastdev.lock
app/0.1/app/assets/