<Alloy>
  <NavigationWindow platform="ios">
    <Window id="postPhotoWindow" title="L('settings_title')">
      <LeftNavButton>
        <View id="navWrapper">
          <Button image="/images/icons/chevron_left.png" title="L('button_back')" id="backButton" onClick="closeSettings" />
        </View>
      </LeftNavButton>

      <ScrollView id="settingsSrollView">

        <TableView>
          <TableViewSection>
            <TableViewRow>
              <Label class="header" text="Notify me when..." />
            </TableViewRow>
            <TableViewRow title="Never" onClick="toggleSwitch">
              <Switch id="never" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="Somebody loves my snapp" onClick="toggleSwitch">
              <Switch id="loves_my_snapp" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="Somebody loves my comment" onClick="toggleSwitch">
              <Switch id="loves_my_comment" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="Somebody comments on my snapp" onClick="toggleSwitch">
              <Switch id="comments_my_snapp" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="Somebody comments on my comment" onClick="toggleSwitch">
              <Switch id="comments_my_comment" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="Somebody loves a comment on my snapp" onClick="toggleSwitch">
              <Switch id="loves_comment_my_snapp" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="Somebody loves a comment on my comment" onClick="toggleSwitch">
              <Switch id="loves_comment_my_comment" value="true" onChange="toggleSwitch" />
            <TableViewRow title="L('notifications_snailsnapp_updates')" onClick="toggleSwitch">
              <Switch id="snailsnapp_updates" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_special_occasions')" onClick="toggleSwitch">
              <Switch id="special_occasions" value="true" onChange="toggleSwitch" />
            </TableViewRow>
          </TableViewSection>
        </TableView>

        <TableView>
          <TableViewSection>
            <TableViewRow class="separator" />
          </TableViewSection>
          <TableViewSection>
              <TableViewRow>
                <Label class="header" text="User settings" />
              </TableViewRow>
              <TableViewRow>
                <LoginButton id="fbButton" ns="Alloy.Globals.Facebook" style="Alloy.Globals.Facebook.BUTTON_STYLE_WIDE" />
              </TableViewRow>
          </TableViewSection>
        </TableView>
        <View id="submitView">
          <Button id="submitButton" title="L('settings_save')" />
        </View>

      </ScrollView>
    </Window>
  </NavigationWindow>
</Alloy>