<Alloy>
  <NavigationWindow platform="ios">
    <Window id="postPhotoWindow" title="L('settings_title')">
      <LeftNavButton>
        <View id="navWrapper">
          <Button image="/images/icons/chevron_left.png" title="L('button_back')" id="backButton" onClick="closeSettings" />
        </View>
      </LeftNavButton>

      <View id="loader">
        <ActivityIndicator id="indicator" />
      </View>

      <ScrollView id="settingsScrollView">
        <TableView>
          <TableViewSection>
            <TableViewRow>
              <Label class="header" text="L('settings_notification_header')" />
            </TableViewRow>
            <TableViewRow title="L('notifications_never')" onClick="toggleSwitch">
              <Switch id="never" value="false" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_loves_my_snapp')" onClick="toggleSwitch">
              <Switch id="loves_my_snapp" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_loves_my_comment')" onClick="toggleSwitch">
              <Switch id="loves_my_comment" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_comments_my_snapp')" onClick="toggleSwitch">
              <Switch id="comments_my_snapp" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_comments_my_comment')" onClick="toggleSwitch">
              <Switch id="comments_my_comment" value="false" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_loves_comment_my_snapp')" onClick="toggleSwitch">
              <Switch id="loves_comment_my_snapp" value="false" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_loves_comment_my_comment')" onClick="toggleSwitch">
              <Switch id="loves_comment_my_comment" value="false" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_snailsnapp_updates')" onClick="toggleSwitch">
              <Switch id="snailsnapp_updates" value="true" onChange="toggleSwitch" />
            </TableViewRow>
            <TableViewRow title="L('notifications_special_occasions')" onClick="toggleSwitch">
              <Switch id="special_occasions" value="true" onChange="toggleSwitch" />
            </TableViewRow>
          </TableViewSection>
        </TableView>

        <View id="submitView">
          <Button id="submitButton" title="L('settings_save')" onClick="sendSettingsToSnailSnapp" />
        </View>

        <LoginButton id="fbButton" ns="Alloy.Globals.Facebook" style="Alloy.Globals.Facebook.BUTTON_STYLE_WIDE" />

      </ScrollView>
    </Window>
  </NavigationWindow>
</Alloy>